{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
  Example Viewer
{% endblock title %}

{% block heading %}
  Example Viewer
{% endblock heading %}

{% block sub_heading %}
  Example App
{% endblock sub_heading %}

{% block menu %}
  <li class="pure-menu-item">
    <a class="pure-menu-link" href="{% url "admin:index" %}">
      <i class="fa fa-wrench"></i> Admin
    </a>
  </li>
  {{ block.super }}
{% endblock menu %}

{% block footer %}
{% endblock footer %}
