<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>Alfresco</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="{% url 'alfresco.document.to.copy.list' %}" class="pure-menu-link">
      <i class="fa fa-file-archive-o"></i>
      Documents to Copy
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'alfresco.content.list' %}" class="pure-menu-link">
      <i class="fa fa-file-archive-o"></i>
      Alfresco Content
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'alfresco.folder.list' %}" class="pure-menu-link">
      <i class="fa fa-file-archive-o"></i>
      Alfresco Folders
    </a>
  </div>
</div>
