{% extends 'dash/base.html' %}

{% block sub_title %}
  Alfresco Content
{% endblock sub_title %}

{% block sub_heading %}
  Alfresco Content
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'alfresco.content.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table width="100%" class="pure-table pure-table-bordered">
        <tbody>
          <tr valign="top">
            <td>
              <strong>
                Name
              </strong>
            </td>
            <td>
              {{ object.node_id }}
            </td>
          </tr>
          <tr valign="top">
            <td>
              <strong>
                Entry
              </strong>
            </td>
            <td>
              <small>
                <pre>
                  {{ object.node.name }}
                  ({{ object.node.node_id }})
                </pre>
              </small>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
