{% extends 'dash/base.html' %}

{% block sub_title %}
  Documents to Copy to Alfresco
{% endblock sub_title %}

{% block sub_heading %}
  Documents to Copy to Alfresco
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Settings
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered">
        <thead>
          <tr>
            <th>Created</th>
            <th>User</th>
            <th>Workflow</th>
            <th>Document</th>
            <th>Complete</th>
          </tr>
        </thead>
        <tbody>
          {% for x in object_list %}
            <tr valign="top">
              <td>
                {{ x.created|date:'d/m/Y H:i' }}
              </td>
              <td>
                {{ x.user.username }}
              </td>
              <td>
                {{ x.workflow.name }}
              </td>
              <td>
                {{ x.file_to_copy.name }}
              </td>
              <td>
                {% if x.completed_date %}
                  {{ x.completed_date|date:'d/m/Y H:i' }}
                {% elif x.retries %}
                  Retry count {{ x.retries }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
