{% extends 'dash/base.html' %}

{% block sub_title %}
  Workflow Folders
{% endblock sub_title %}

{% block sub_heading %}
  Workflow Folders
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Settings
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'workflow.list' %}" class="pure-menu-link">
              <i class="fa fa-magic"></i>
              Mapping
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Workflow</th>
            <th>Copy Document to this Alfresco Folder</th>
          </tr>
        </thead>
        <tbody>
          {% for x in object_list %}
            <tr valign="top">
              <td>
                {{ x.name }}
              </td>
              <td>
                <a href="{% url 'alfresco.folder.wizard' x.pk %}">
                  <i class="fa fa-edit"></i>
                  {% if x.node %}
                    {{ x.node.name }}
                    {% if x.node.description %}
                      ({{ x.node.description }})
                    {% endif %}
                  {% else %}
                    No Folder
                  {% endif %}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
