{% extends 'dash/base.html' %}

{% block sub_title %}
  {% if current_node %}
    Folder
  {% else %}
    Site
  {% endif %}
  for "{{ workflow.name }}"
{% endblock sub_title %}

{% block sub_heading %}
  {% if current_node %}
    Folder
  {% else %}
    Site
  {% endif %}
  for "{{ workflow.name }}"
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{{ back_to }}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% if current_node %}
        {% include '_form.html' with submit='Open Folder...' submit_2_id='select' submit_2_name='select' submit_2_value='Select Folder' %}
      {% else %}
        {% include '_form.html' with submit='Open Folder...' %}
      {% endif %}
      <p>
        <ul>
          <li>
            We are selecting a folder from
            <a href="{{ alfresco_site }}" target="_blank">
              {{ alfresco_site }}
              <i class="fa fa-external-link"></i>
            </a>
          </li>
          <li>
            {% if workflow_node %}
              The currently selected folder for
              "{{ workflow.name }}" is
              "{{ workflow_node.name }}" ({{ workflow_node.description }}).
            {% else %}
              Please select an Alfresco folder for the "{{ workflow.name }}" workflow.
            {% endif %}
          </li>
        </ul>
      </p>
    </div>
  </div>
{% endblock %}
